
div{
    text-align: center;
    margin-top: 130px;

}
button{
    padding: 20px;
    border-radius: 20px;
    width: 18%;
    background-color:green;
    color: white;
    font-weight: bolder;
    font-size: larger;
    border: 5px solid red;
    box-shadow: 5px 5px 5px lightcoral;
    word-spacing: 5px;
    outline: 10px solid black;
    margin-top: 20px;
}

img{
    border-radius: 20px;
    width: 20%;
}