<div class="parent">
    <div class="child1">
        <h1>My Website</h1>
        <hr>
        <h2 routerLink="home">home</h2>
        <h2 routerLink="welcome">Welcome</h2>
        <h2 routerLink="create-user">create user</h2>
        <h2 routerLink="create-student">create-student</h2>
        <h2 routerLink="students">student</h2>
        <h2 routerLink="students-card">Students-card</h2>
        <h2 routerLink="employee">employee</h2>
        <h2 routerLink="bank">bank</h2>
        <h2 routerLink="flipkart">flipkart</h2>
        <h2 routerLink="flipkart-api">flipkart-api</h2>
        <h2 routerLink="mail">mail</h2>
        <h2 routerLink="vehicle">vehicle</h2>
        <h2 routerLink="create-vehicle">vehicle-01</h2>
        <h2 routerLink="amazon">Amazon</h2>
        <h2 routerLink="databinding">data binding</h2>
        <h2 routerLink="calculator">calculator</h2>
        <h2 routerLink="rectangle">rectangle</h2>
        <h2 routerLink="circle">circle</h2>
        <h2 routerLink="bmi">BMI</h2>
        <h2 routerLink="dice">dice</h2>
        <h2 routerLink="directives">directives </h2>
        <h2 routerLink="pipes">pipes</h2>
        <h2 routerLink="tasks">tasks</h2>
        <h2 routerLink="higher-order">higher order</h2>
        <button (click)="logout()">logout</button>
    </div>

    <div class="child2">
        <router-outlet></router-outlet>
    </div>

</div>